@import "../variables";

.adaptiveLink__image {
  max-width: 100%;
  height: auto;
}

.adaptiveLink__link {
  display: inline-block;

}

// .adaptiveLink__image_container {
// }

.adaptiveLink__image_container__desktop {
  display: inline-block;
}

.adaptiveLink__image_container__tablet {
  display: none;
}

.adaptiveLink__image_container__mobile {
  display: none;
}

@media (max-width: $breakpoint-tablet) {
  .adaptiveLink__image_container__desktop {
    display: none;
  }

  .adaptiveLink__image_container__tablet {
    display: inline-block;
  }

  .adaptiveLink__image_container__mobile {
    display: none;
  }
}

@media (max-width: $breakpoint-mobile) {
  .adaptiveLink__image_container__desktop {
    display: none;
  }

  .adaptiveLink__image_container__tablet {
    display: none;
  }

  .adaptiveLink__image_container__mobile {
    display: inline-block;
  }
}
