@import "../variables";

.modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.261);
  width: 500px;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.modalInputContainer {
  display: flex;
  flex-direction: column;
}

.modalInput {
  margin: 0.8rem 0;
  display: flex;
  flex-direction: column;
}

.modalCloseBtn {
  float: right;
  width: 30px;
  height: 30px;
  padding: 0.2rem;
  border-radius: 25%;
  border: none;
  box-shadow: 1px 3px 2px rgb(186, 186, 186);
  transition: 100ms ease-in-out;

  background-color: orange;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: lighten(orange, 10%);
  }
}

.submitBtn {
  width: 300px;
  border-radius: 25px;
  margin: auto;
  border: none;
  box-shadow: 1px 3px 2px rgb(186, 186, 186);
  transition: 100ms ease-in-out;

  background-color: orange;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: orange;
    background-color: lighten(orange, 10%);
  }
}

@media (max-width: $breakpoint-tablet) {
  .modal{
    width: 90%;
  }

  .submitBtn{
    width: unset;
    min-width: 200px;
  }
}