.modal {
  width: 500px;
  padding: 2rem;
  border-radius: 10px;

  background-color: white;

  

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.modalInput{
    margin: 1rem;

    display: flex;
    flex-direction: column;
}

.modalCloseBtn{
  float: right;
  width: 30px;
  height: 30px;
  padding: 0.2rem;
  border-radius: 25%;

  transition: 200ms ease-in-out;

  &:hover{
    color: red;
    border: 2px solid red;
    cursor: pointer;
  }
}