@import "../variables";

.navBar{
  display: flex;
}

.navBtn {
  position: relative;
  :hover {
    transform: scale(1.1);
  }
}

.navMenu {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.navUnderline {
  position: absolute;
  left: 0;
  bottom: -10px;
  :hover {
    transform: scale(1) !important ;
  }
}

@media (max-width: $breakpoint-tablet) {

  .navBar{
    padding: 1rem 3rem 0 3rem;
  }

  .navUnderline{
    bottom: initial;
    top: -60px;
  }

  .navBackBtn{
    margin-right: auto ;
  }


  



}