:root {
  --WhatWeDo-background: #184059;
  --MaintainAble-background: #5d8aa6;
  --GetInTouch-background: #bf7b3f;
  --Homepage-background: #b0d2e8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: inherit;
  height: 100%;
}

body{
  height: 100%;
}

menu {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

li {
  text-decoration: none;
  display: inline;
}

img {
  transition: 100ms ease-in-out;
}

h1 {
  font-size: 36px;
}

h6 {
  color: red;
}

p {
  color: white;
}

figcaption {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.Textarea {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}



input,
textarea {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 2px gray;
}