:root{
  --WhatWeDo-background: #184059;
  --MaintainAble-background: #5D8AA6;
  --GetInTouch-background: #BF7B3F;
  --Homepage-background: #B0D2E8;

}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: inherit;
}

img{
  transition: 300ms ease-in-out;
}