@import "./variables";

#background {
  min-width: 100vw;
  min-height: 100%;
  background-image: linear-gradient(white, #b0d2e8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // position: fixed;
}

.container {
  padding: 2rem;
  width: 800px;
  // margin: auto;
  color: white;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
}

.moreBtn {
  min-width: 100px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  background-color: black;
  float: right;
}

.links {
  position: relative;
  &:hover {
    transform: scale(1.05);
  }
}

/* DEKSTOP CLASS */
.desktop {
  display: block;
}

/* MOBILE CLASS */
.mobile {
  display: none;
}

// ---- MOBILE ----
@media (max-width: $breakpoint-tablet) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

  }

  #background{
    flex-direction: column;
    justify-content: start;
  }

  .links {
    // display: inline-block;
    // background-color: red;
    // max-width: 600px;
    // width: 100%;
    max-height: 300px;
    // height: 450px;
    flex: 1 0 auto;
  }

  .imageContainer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    justify-self: center;
    width: 100%;
  }

  .moreBtn {
    justify-self: end;
  }
}
